{% extends 'base.html' %}
{% block content %}

<h1>About the Requests Sitè</h1>

<hr />

<h2>Built by Chris Tack - Full Stack Developer</h2>
<a href="https://linkedin.com/in/christophertack">Find out more on LinkedIn</a>

<section>
  <h5>What can I do for you?</h5>
  <p>With my combined experience in web development and past experience in photography, design, education, and quality assurance testing, I’m confident I would make a great fit for this position. My determination and attention to detail have proven to be quite significant to previous employers.</p>
</section>

<section>
  <h5>Briefly about me:</h5>
  <p>I have been involved with web development since my teenage years. I completed numerous web design classes while earning my Associates Degree in Graphic Design and BFA’s in both Digital Media and Photography. Most recently, I attended a 12-week web developer immersive course through General Assembly (GA) in Seattle to brush up on new web technologies. Since completing the course through GA, I have spent a significant amount of time coding and expanding my knowledge (as can be seen by my GitHub history) - https://github.com/tackc</p>

  <p>I spent 5 months in 2019 working on the “Site” team at Zulily. This is the team responsible for keeping zulily.com running. Despite being a newer developer, I worked on dozens of customer-facing site updates during my internship. My work included rebuilding several pages from the ground up, updating photo and video assets using AWS, and most importantly throwing myself into a massive code base that included technologies such as javascript, PHP, HTML, CSS, React, Bootstrap, JSON, MongoDB AWS and APIs just to name a few. This experience showed me what it is like to collaborate on a team of individual contributors who ensure the experience is the same whether visitors are on the website (mobile or desktop), iOS, or Android.</p>
</section>

{% endblock %}