{% extends 'base.html' %}
{% block content %}

<h2>Your CPU Details:</h2>
<p>{{ cpuInfo }}</p>
{% for detail in cpuInfo %}
  <div>
    <p>{{ detail.python_version }}</p>
  </div>
{% endfor %}

<h2>List of Most Recent 10 Requests</h2>

{% for request in requests %}
  <a href="{% url 'detail' request.id %}">
    <div class="card">
      <div class="card-content">
        <span>Request ID: {{ request.id }}</span>
        <p>Request Type: {{ request.requestType }}</p>
        <p>Request Time: {{ request.requestTime }}</p>
        <p>Request Comment: {{ request.comment }}</p>
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}
